html,
body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background: rgb(37, 37, 37);
    color: white;
    font-family: sans-serif;
}

/* #game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.tile.absent {
    background: gray;
}

.tile.present {
    background: yellow;
}

.tile.correct {
    background: green;
}

.row {
    display: flex;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid currentColor;
    font-size: 2rem;
}

output {
    font-size: 1.3rem;
    text-align: center;
    display: block;
    margin-top: 1.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
