html,
body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background: rgb(37, 37, 37);
    color: white;
    font-family: sans-serif;
}

/* #game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.row {
    display: flex;
}

.tile {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid white;
    font-size: 2rem;
}
